*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: darkgray;
}

button{
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 4px;
  margin: 0 5px;
  display: inline-block;
}

h2{
  text-align: center;
  margin-bottom: 5px;
}

.count{
  margin-bottom: 15px;
}

.container{
  background-color: rgb(225, 243, 227);
  padding: 50px;
  border: 1px solid blueviolet;
  border-radius: 6px;
  width: 350px;
  margin: 200px auto;
}